<div class="container" style="width: 500px;">

  <div class="rounded" style="background-color: white; margin-top: 20%; border: 1px solid lightgrey; padding-top: 25px;
  padding-bottom: 25px;">
    <form class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input [(ngModel)] = "username" type="text" id="inputEmail" class="form-control" name="username"
             placeholder="Username/Email address"
             required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)] = "password" type="password" id="inputPassword" name="password" class="form-control"
             placeholder="Password"
             required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Keep Logged In
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()" [disabled]="auth.isLoggedIn()">Sign in</button>
    </form>
  </div>
</div>
